<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container-header">
        {{!-- Include header partial --}}
        {{>header}}
    </div>
    <div class="container-body">
        <div class="body-message">
            <p>I used this project to learn how to deploy apps to Heroku, create webservers using express, and build
                webpage templates using handlebars.</p>
            <p>The app takes the users input and makes an API call to Mapbox in order to
                retrieve the latitude and longitude returned from the query. That data is then passed to the Weather
                stack API to return information about the location from the user's search.</p>
            <p>Finally, using client side JavaScript, renders the data returned from the response.</p>
        </div>
        <div class="avi">
            <img class="portrait" src="/img/avi1.jpeg" alt="Picture of Nate">
        </div>
    </div>

    {{>footer}}
</body>

</html>