<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container-header">
        {{!-- Include header partial --}}
        {{>header}}
    </div>
    <div class="container-body">
        <p>Questions or comments? 📩</p>
        <p>Send feedback to: <a href="mailto:apps@nateskiles.io">apps@nateskiles.io</a></p>
        <img src="https://media.giphy.com/media/phJ6eMRFYI6CQ/giphy.gif" class="portrait" alt="cat in tree with caption help">
    </div>
    {{>footer}}
</body>

</html>